|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import pandas as pd
#  Read data and describe it
df = pd.read_csv(r"..//titanic_dataset.csv")
# print("Dataframe description is :\n",df.describe())



# - Find columns with missingdata
tmp_series = df.isna().any()
tmp = zip(tmp_series.index, tmp_series.values)
print("\nColumn name with missing data are:")
for index, value in tmp:
    if value != False:
        print(index)

        
# Print shape of dataset
print("\nDataframe shape is ", df.shape)
        

#  drop columns with more than 25% missing data
each_col_missing_data_percenatge = (df.isna().sum()/ df.shape[0]) * 100
col_list = []
for col, percentage in zip(each_col_missing_data_percenatge.index, each_col_missing_data_percenatge.values):
    if percentage > 25:
        col_list.append(col)
df.drop(columns=col_list, inplace=True)
print("\npost deletion column where more than 25% data was missing, Dataframe shape is ", df.shape)


# - drop columns having independent values(which do not affect the survival rate).
print("\n")
df.drop(columns=["Unnamed: 0","sibsp","parch","ticket"], inplace=True)
print(df.head(5))

Column name with missing data are:
age
fare
cabin
embarked
boat
body
home.dest

Dataframe shape is  (1309, 15)

post deletion column where more than 25% data was missing, Dataframe shape is  (1309, 11)


   pclass  survived                                             name  gender  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age      fare embarked
0  29.0000  $211.34         S
1   0.9167  $151.55         S
2   2.0000  $151.55         S
3  30.0000  $151.55         S
4  25.0000  $151.55         S

In [2]:
#  check data types of all columns
for column in df.columns:
    print(column+ " column dtype is:   ", df[column].dtype)
    
# - convert price to numeric
print("\n")
df.replace({'fare': r'\$'}, {'fare': r''}, regex=True, inplace=True)
# print(df.head())

# - find columns still having missing/na values and also count of missing data
missing_data_series = df.isna().sum()
for index, value in zip(missing_data_series.index, missing_data_series.values):
    if value > 0:
        print("Still {0} column having missing data and missing data count is: {1}".format(index,value))
    else:
        pass
        
        
# - fill na with mean for fare and age column column.
df.fare = df.fare.astype("float64")
df.fare.fillna(df.fare.mean(), inplace=True)
df.age.fillna(df.age.mean(), inplace=True)
df.isna().any()
# print(df.head())


# - drop na values for embarked column.
df.embarked.fillna(method="ffill", inplace=True)
print(df.isna().any())



# - dump the dataframe to a csv file 'titanic_filtered.csv'.
df.to_csv("titanic_filtered.csv", index=False)

pclass column dtype is:    int64
survived column dtype is:    int64
name column dtype is:    object
gender column dtype is:    object
age column dtype is:    float64
fare column dtype is:    object
embarked column dtype is:    object


Still age column having missing data and missing data count is: 263
Still fare column having missing data and missing data count is: 1
Still embarked column having missing data and missing data count is: 2
pclass      False
survived    False
name        False
gender      False
age         False
fare        False
embarked    False
dtype: bool

In [3]:
# - for survived column replace 0 with D and 1 with A
df.survived.replace(0, value="D", inplace=True)
df.head(5)

# - find the frequency of different values in survived column
print("frequency of different values in survived column is :")
print(df.survived.value_counts())

# - group by gender and survived and see the counts in each category
grp_gender = df.groupby(by="gender")
print("\ngroup by gender and counts in each category is:")
print(grp_gender.gender.count())


grp_survived = df.groupby(by="survived")
print("\ngroup by survived and counts in each category is:")
print(grp_survived.survived.count())

df.head(5)
# - find different pclass and no of people in each class
grp_pclass = df.groupby(by="pclass")
print("\nDifferent pclass and no of people in each class are:")
print(grp_pclass.pclass.count())

frequency of different values in survived column is :
D    809
1    500
Name: survived, dtype: int64

group by gender and counts in each category is:
gender
female    466
male      843
Name: gender, dtype: int64

group by survived and counts in each category is:
survived
1    500
D    809
Name: survived, dtype: int64

Different pclass and no of people in each class are:
pclass
1    323
2    277
3    709
Name: pclass, dtype: int64

In [4]:
# - find top 5 people with highest values of age. Count no of male and females in the top 5
df_sort_age = df.sort_values(by="age",ascending=False).head(5)
print("top 5 people with highest values of age are:\n")
print(df_sort_age)

gender_grp = df_sort_age.groupby(by="gender")
print("\nNo of male and females count in the top 5 are:")
print(gender_grp.gender.count())


# - find max age male and female who survived
grp_gender_survived = df.groupby(by=["gender", "survived"])
print("to check max age male and female who survived")
print(grp_gender_survived.age.max())



# - get average age by gender
print("\n\n average age by gender is:")
grp_gender = df.groupby(by="gender")
print(grp_gender.age.mean())

# - get average age by people survived vs not-survived
print("\n\n average age by people survived vs not-survived is:")
grp_suvived = df.groupby(by="survived")
print(grp_suvived.age.mean())

top 5 people with highest values of age are:

      pclass survived                                               name  \
14         1        1               Barkworth, Mr. Algernon Henry Wilson
61         1        1  Cavendish, Mrs. Tyrell William (Julia Florence...
1235       3        D                                Svensson, Mr. Johan
135        1        D                          Goldschmidt, Mr. George B
9          1        D                            Artagaveytia, Mr. Ramon

      gender   age   fare embarked
14      male  80.0  30.00        S
61    female  76.0  78.85        S
1235    male  74.0   7.78        S
135     male  71.0  34.65        C
9       male  71.0  49.50        C

No of male and females count in the top 5 are:
gender
female    1
male      4
Name: gender, dtype: int64
to check max age male and female who survived
gender  survived
female  1           76.0
        D           63.0
male    1           80.0
        D           74.0
Name: age, dtype: float64


 average age by gender is:
gender
female    28.886935
male      30.430716
Name: age, dtype: float64


 average age by people survived vs not-survived is:
survived
1    29.058812
D    30.389368
Name: age, dtype: float64