In [1]:
# all imports go at the top, even though python is a very open language
import pandas as pd
import numpy as np

In [1]:
a  = [1,2,3]
print( list(  map(lambda x: x*x, a)   )  )

[1, 4, 9]

## Series

In [27]:
# Normal series and series with custom index
s1 = pd.Series([1,2,3])
s2 = pd.Series([1,2,2, np.nan], index=list("abcd"))
print(s1)
print()
print(s2)

0    1
1    2
2    3
dtype: int64

a    1.0
b    2.0
c    2.0
d    NaN
dtype: float64

In [4]:
a = [1,3, "abcd"]
print(a)

[1, 3, 'abcd']

In [22]:
# changing dtype
s1 = pd.Series([1,2,3], dtype="float64")
t =  s1.astype(dtype="int8")
print(s1)
print(t)

0    1.0
1    2.0
2    3.0
dtype: float64
0    1
1    2
2    3
dtype: int8

In [18]:
# shape, size, dtype, index, values, unique
print(s1.shape)
print(s1.size)
print(s1.dtype)
print("Index", s2.index)
print("Values", s2.values)

(3,)
3
float64
Index Index(['a', 'b', 'c', 'd'], dtype='object')
Values [ 1.  2.  2. nan]

Unique [ 1.  2. nan]

In [36]:
# aggregate operations
print(s2.sum())
print(s1.mean())
print(s1.median())
print("\nUnique", s2.unique())

5.0
2.0
2.0

Unique [ 1.  2. nan]

In [35]:
# arithmetic operations(new copy) and broadcast like numpy
t = s1*10
print(t)
print(s1)

print()
print(s1+t)


print("Mis match size")
print(s1.values*s2.values)


# 1 2 3
# 4 5 6
#*
#1 10 20

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
dtype: int64

0    11
1    22
2    33
dtype: int64
Mis match size

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [51]:
# indexing and slicing
print(s1[0])
print()
print(s1[0:])
print()
print(s1[0:1])
print()
print(s1[ [True, False, True] ])

1

0    1
1    2
2    3
dtype: int64

0    1
dtype: int64

0    1
2    3
dtype: int64

In [49]:
# result of operations as index
t =  s1 % 2
print(t)
print()
print(t == 1)
print()
print(s1[t == 1])

0    1
1    0
2    1
dtype: int64

0     True
1    False
2     True
dtype: bool

0    1
2    3
dtype: int64

In [81]:
print(s1)
print()
r1 = s1 == 1
r2 = s1 == 2
print(r1)
print(r2)
print()
print(r1 | r2)
print()
print(s1 [(s1 ==  1) | (s1 ==  2)])

0    1
1    2
2    3
dtype: int64

0     True
1    False
2    False
dtype: bool
0    False
1     True
2    False
dtype: bool

0     True
1     True
2    False
dtype: bool

0    1
1    2
dtype: int64

In [64]:
# frequency : value_counts
print(s2)
print()
v = s2.value_counts()
print(v)
print(v.index)

a    1.0
b    2.0
c    2.0
d    NaN
dtype: float64

2.0    2
1.0    1
dtype: int64
Float64Index([2.0, 1.0], dtype='float64')

## DataFrame

In [2]:
# dataframe from dict or list of rows
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
  #  ,dtype=["U20", "int8", "int8"]
)
df2 = pd.DataFrame([("Gaurav",1), ("Abhiskek",2), ("Krishna",3), ("Abhishek2",4)],
                    index=[0,11,2,3], 
                    columns=["Name", "Number"])
print(df1)
print()
print(df2)
#print(dir(df1))

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [78]:
type(df1.Name)
df1["Name"]

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object

In [75]:
# shape, size, dtypes, index, columns, unique, T
print(df1.shape)
print(df1.T)

(10, 3)
             0          1        2          3         4     5       6     7  \
Name    Gaurav  Abhishek1  Krishna  Abhishek2  Harshita  Joey  Shweta  na-1
Age          0          1        2          2         1     2       3     1
Gender       0          0        0          0         1     1       1   NaN

           8    9
Name    na-2  NaN
Age      NaN    2
Gender     0    0

In [91]:
# Rename index and columns on df2.
# Inplace vs normal operation
t = df2.rename(columns={"Number":"Age"}, inplace=True)
print(t)
print()
print(df2)

df2.rename(index={11:1}, inplace=True)
print(df2)

df2.rename(index=lambda x: x*10, inplace=True)
print(df2)

None

          Name  Age
0       Gaurav    1
100   Abhiskek    2
200    Krishna    3
300  Abhishek2    4
          Name  Age
0       Gaurav    1
100   Abhiskek    2
200    Krishna    3
300  Abhishek2    4
           Name  Age
0        Gaurav    1
1000   Abhiskek    2
2000    Krishna    3
3000  Abhishek2    4

In [92]:
# Indexing columns directly and via index.
df1.Name
df1["Name"]

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object

In [ ]:
# Series in a DataFrame

In [101]:
# describe, top/bottom rows of data
print(df1.head(2)) # default first five
print()
print(df1.tail(2)) # default last five

print(df1.describe(include="all"))
print()
print(df1.dtypes)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0

   Name  Age  Gender
8  na-2  NaN     0.0
9   NaN  2.0     0.0
          Name       Age    Gender
count        9  9.000000  9.000000
unique       9       NaN       NaN
top     Shweta       NaN       NaN
freq         1       NaN       NaN
mean       NaN  1.555556  0.333333
std        NaN  0.881917  0.500000
min        NaN  0.000000  0.000000
25%        NaN  1.000000  0.000000
50%        NaN  2.000000  0.000000
75%        NaN  2.000000  1.000000
max        NaN  3.000000  1.000000

Name       object
Age       float64
Gender    float64
dtype: object

In [17]:
# indexing and slicing
# goes till end
# loc: meant for indexes given in the dataset
# iloc [rows, cols]: indexes even thought there might be names
print(df1)
print()

print(df1.loc[2])
print()
print(df1.loc[2:-2])
print()
print(df1.loc[::3])
print()
print(df1.loc[:,"Age"])
print()
print(df1.loc[[0,2,4],["Name","Gender"]])

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

Name      Krishna
Age             2
Gender          0
Name: 2, dtype: object

Empty DataFrame
Columns: [Name, Age, Gender]
Index: []

        Name  Age  Gender
0     Gaurav  0.0     0.0
3  Abhishek2  2.0     0.0
6     Shweta  3.0     1.0
9        NaN  2.0     0.0

0    0.0
1    1.0
2    2.0
3    2.0
4    1.0
5    2.0
6    3.0
7    1.0
8    NaN
9    2.0
Name: Age, dtype: float64

       Name  Gender
0    Gaurav     0.0
2   Krishna     0.0
4  Harshita     1.0

In [15]:
# indexing and slicing
# loc: meant for indexes given in the dataset
# iloc [rows, cols]: indexes even thought there might be names
print(df1)
print()

print(df1.iloc[2])
print()
print(df1.iloc[2:-2])
print()
print(df1.iloc[::3])
print()
print(df1.iloc[:,1:])
print()
print(df1.iloc[[0,2,4],[0,2]])

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

Name      Krishna
Age             2
Gender          0
Name: 2, dtype: object

        Name  Age  Gender
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN

        Name  Age  Gender
0     Gaurav  0.0     0.0
3  Abhishek2  2.0     0.0
6     Shweta  3.0     1.0
9        NaN  2.0     0.0

   Age  Gender
0  0.0     0.0
1  1.0     0.0
2  2.0     0.0
3  2.0     0.0
4  1.0     1.0
5  2.0     1.0
6  3.0     1.0
7  1.0     NaN
8  NaN     0.0
9  2.0     0.0

       Name  Gender
0    Gaurav     0.0
2   Krishna     0.0
4  Harshita     1.0

In [113]:
# aggregate operations (with and without axis : row-1, col-0)
# min, max, count, ...
m = df1.min()
print(m)

Age       0.0
Gender    0.0
dtype: float64

In [ ]:
# arithmetic operations
#pd.read_excel()

In [24]:
# Na Values: isna, fillna, dropna
print(df1.isna())
print()
print(df1.isna().any())
print()
print(df1.fillna(method="ffill"))
print()
print("Filling with  mean")
print( df1.Age.fillna(df1.Age.median()) )
# df.loc[:,1980:2000].median(axis=1)

    Name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
7  False  False    True
8  False   True   False
9   True  False   False

Name      True
Age       True
Gender    True
dtype: bool

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     1.0
8       na-2  1.0     0.0
9       na-2  2.0     0.0

Filling with  mean
0    0.0
1    1.0
2    2.0
3    2.0
4    1.0
5    2.0
6    3.0
7    1.0
8    5.0
9    2.0
Name: Age, dtype: float64

In [25]:
print(df1.dropna())

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0

In [29]:
# any, all
new_col =  df1.Age.fillna(5).astype("int8")
print(new_col)
df1["AgeInt"] = new_col
df1.head()

0    0
1    1
2    2
3    2
4    1
5    2
6    3
7    1
8    5
9    2
Name: Age, dtype: int8

        Name  Age  Gender  AgeInt
0     Gaurav  0.0     0.0       0
1  Abhishek1  1.0     0.0       1
2    Krishna  2.0     0.0       2
3  Abhishek2  2.0     0.0       2
4   Harshita  1.0     1.0       1

In [108]:
# ordering data, sort_values
print(df1)
print()
print(df1.sort_values(by="Name", ascending=False))
print()
print(df1.sort_values(by=["Age", "Name"], ascending=False).head(2).Name)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

        Name  Age  Gender
8       na-2  NaN     0.0
7       na-1  1.0     NaN
6     Shweta  3.0     1.0
2    Krishna  2.0     0.0
5       Joey  2.0     1.0
4   Harshita  1.0     1.0
0     Gaurav  0.0     0.0
3  Abhishek2  2.0     0.0
1  Abhishek1  1.0     0.0
9        NaN  2.0     0.0

6     Shweta
2    Krishna
Name: Name, dtype: object

In [ ]:
# row / column wise operation: apply
tmp = pd.DataFrame(np.random.randint(10,20,20).reshape(5,4))

In [39]:
# str submodule (replace etc)
#print(dir(df1.Name.str))
print(df1.Name.str.replace("A", "a"))
#print(df1.head())
df1.Name = df1.Name.str.replace("A", "a")
#print(df1.head())
df1.Name.replace(r"\d", "9", regex=True, inplace=True)
print(df1.head())

def funct(s):
    try:
        if s[0].isupper():
            return s.lower()
        else:
            return s.upper()
    except Exception:
        return s

df1.Name.map(funct)

0       Gaurav
1    abhishek9
2      Krishna
3    abhishek9
4     Harshita
5         Joey
6       Shweta
7         na-9
8         na-9
9          NaN
Name: Name, dtype: object
        Name  Age  Gender  AgeInt
0     Gaurav  0.0     0.0       0
1  abhishek9  1.0     0.0       1
2    Krishna  2.0     0.0       2
3  abhishek9  2.0     0.0       2
4   Harshita  1.0     1.0       1

0       gaurav
1    ABHISHEK9
2      krishna
3    ABHISHEK9
4     harshita
5         joey
6       shweta
7         NA-9
8         NA-9
9          NaN
Name: Name, dtype: object

In [ ]:
# load and save data

In [44]:
# groups: groupby
grp = df1.groupby(by="Gender")
print(grp)
print(grp.groups)
print(df1)
print(dir(grp))

print(df1.Gender.unique())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DA2E89AF08>
{0.0: Int64Index([0, 1, 2, 3, 8, 9], dtype='int64'), 1.0: Int64Index([4, 5, 6], dtype='int64')}
        Name  Age  Gender  AgeInt
0     Gaurav  0.0     0.0       0
1  abhishek9  1.0     0.0       1
2    Krishna  2.0     0.0       2
3  abhishek9  2.0     0.0       2
4   Harshita  1.0     1.0       1
5       Joey  2.0     1.0       2
6     Shweta  3.0     1.0       3
7       na-9  1.0     NaN       1
8       na-9  NaN     0.0       5
9        NaN  2.0     0.0       2
['Age', 'AgeInt', 'Gender', 'Name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_generic', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_block_agg_axis', '_bool_agg', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_decide_output_index', '_def_str', '_define_paths', '_deprecations', '_dir_additions', '_dir_deletions', '_fill', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cython_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_shallow_copy', '_transform_fast', '_transform_general', '_transform_item_by_item', '_transform_should_cast', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_generic_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']
[ 0.  1. nan]

In [53]:
grp = df1.groupby(by="Age")
print(grp.groups)
print(grp.Age.count())

print()
grp = df1.groupby(by="Gender")
print(grp.Age.mean())

print(grp)
print(dir(grp))

{0.0: Int64Index([0], dtype='int64'), 1.0: Int64Index([1, 4, 7], dtype='int64'), 2.0: Int64Index([2, 3, 5, 9], dtype='int64'), 3.0: Int64Index([6], dtype='int64')}
Age
0.0    1
1.0    3
2.0    4
3.0    1
Name: Age, dtype: int64

Gender
0.0    1.4
1.0    2.0
Name: Age, dtype: float64
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DA2EB0B3C8>
['Age', 'AgeInt', 'Gender', 'Name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_generic', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_block_agg_axis', '_bool_agg', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_decide_output_index', '_def_str', '_define_paths', '_deprecations', '_dir_additions', '_dir_deletions', '_fill', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cython_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_shallow_copy', '_transform_fast', '_transform_general', '_transform_item_by_item', '_transform_should_cast', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_generic_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [ ]:
# groups and aggregates