In [2]:
# all imports go at the top, even though python is a very open language
import pandas as pd
import numpy as np

In [1]:
a  = [1,2,3]
print( list(  map(lambda x: x*x, a)   )  )

[1, 4, 9]

## Series

In [27]:
# Normal series and series with custom index
s1 = pd.Series([1,2,3])
s2 = pd.Series([1,2,2, np.nan], index=list("abcd"))
print(s1)
print()
print(s2)

0    1
1    2
2    3
dtype: int64

a    1.0
b    2.0
c    2.0
d    NaN
dtype: float64

In [4]:
a = [1,3, "abcd"]
print(a)

[1, 3, 'abcd']

In [22]:
# changing dtype
s1 = pd.Series([1,2,3], dtype="float64")
t =  s1.astype(dtype="int8")
print(s1)
print(t)

0    1.0
1    2.0
2    3.0
dtype: float64
0    1
1    2
2    3
dtype: int8

In [18]:
# shape, size, dtype, index, values, unique
print(s1.shape)
print(s1.size)
print(s1.dtype)
print("Index", s2.index)
print("Values", s2.values)

(3,)
3
float64
Index Index(['a', 'b', 'c', 'd'], dtype='object')
Values [ 1.  2.  2. nan]

Unique [ 1.  2. nan]

In [36]:
# aggregate operations
print(s2.sum())
print(s1.mean())
print(s1.median())
print("\nUnique", s2.unique())

5.0
2.0
2.0

Unique [ 1.  2. nan]

In [35]:
# arithmetic operations(new copy) and broadcast like numpy
t = s1*10
print(t)
print(s1)

print()
print(s1+t)


print("Mis match size")
print(s1.values*s2.values)


# 1 2 3
# 4 5 6
#*
#1 10 20

0    10
1    20
2    30
dtype: int64
0    1
1    2
2    3
dtype: int64

0    11
1    22
2    33
dtype: int64
Mis match size

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [51]:
# indexing and slicing
print(s1[0])
print()
print(s1[0:])
print()
print(s1[0:1])
print()
print(s1[ [True, False, True] ])

1

0    1
1    2
2    3
dtype: int64

0    1
dtype: int64

0    1
2    3
dtype: int64

In [49]:
# result of operations as index
t =  s1 % 2
print(t)
print()
print(t == 1)
print()
print(s1[t == 1])

0    1
1    0
2    1
dtype: int64

0     True
1    False
2     True
dtype: bool

0    1
2    3
dtype: int64

In [81]:
print(s1)
print()
r1 = s1 == 1
r2 = s1 == 2
print(r1)
print(r2)
print()
print(r1 | r2)
print()
print(s1 [(s1 ==  1) | (s1 ==  2)])

0    1
1    2
2    3
dtype: int64

0     True
1    False
2    False
dtype: bool
0    False
1     True
2    False
dtype: bool

0     True
1     True
2    False
dtype: bool

0    1
1    2
dtype: int64

In [64]:
# frequency : value_counts
print(s2)
print()
v = s2.value_counts()
print(v)
print(v.index)

a    1.0
b    2.0
c    2.0
d    NaN
dtype: float64

2.0    2
1.0    1
dtype: int64
Float64Index([2.0, 1.0], dtype='float64')

## DataFrame

In [77]:
# dataframe from dict or list of rows
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
  #  ,dtype=["U20", "int8", "int8"]
)
df2 = pd.DataFrame([("Gaurav",1), ("Abhiskek",2), ("Krishna",3), ("Abhishek2",4)],
                    index=[0,11,2,3], 
                    columns=["Name", "Number"])
print(df1)
print()
print(df2)
#print(dir(df1))

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [78]:
type(df1.Name)
df1["Name"]

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object

In [75]:
# shape, size, dtypes, index, columns, unique, T
print(df1.shape)
print(df1.T)

(10, 3)
             0          1        2          3         4     5       6     7  \
Name    Gaurav  Abhishek1  Krishna  Abhishek2  Harshita  Joey  Shweta  na-1
Age          0          1        2          2         1     2       3     1
Gender       0          0        0          0         1     1       1   NaN

           8    9
Name    na-2  NaN
Age      NaN    2
Gender     0    0

In [91]:
# Rename index and columns on df2.
# Inplace vs normal operation
t = df2.rename(columns={"Number":"Age"}, inplace=True)
print(t)
print()
print(df2)

df2.rename(index={11:1}, inplace=True)
print(df2)

df2.rename(index=lambda x: x*10, inplace=True)
print(df2)

None

          Name  Age
0       Gaurav    1
100   Abhiskek    2
200    Krishna    3
300  Abhishek2    4
          Name  Age
0       Gaurav    1
100   Abhiskek    2
200    Krishna    3
300  Abhishek2    4
           Name  Age
0        Gaurav    1
1000   Abhiskek    2
2000    Krishna    3
3000  Abhishek2    4

In [92]:
# Indexing columns directly and via index.
df1.Name
df1["Name"]

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object

In [ ]:
# Series in a DataFrame

In [101]:
# describe, top/bottom rows of data
print(df1.head(2)) # default first five
print()
print(df1.tail(2)) # default last five

print(df1.describe(include="all"))
print()
print(df1.dtypes)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0

   Name  Age  Gender
8  na-2  NaN     0.0
9   NaN  2.0     0.0
          Name       Age    Gender
count        9  9.000000  9.000000
unique       9       NaN       NaN
top     Shweta       NaN       NaN
freq         1       NaN       NaN
mean       NaN  1.555556  0.333333
std        NaN  0.881917  0.500000
min        NaN  0.000000  0.000000
25%        NaN  1.000000  0.000000
50%        NaN  2.000000  0.000000
75%        NaN  2.000000  1.000000
max        NaN  3.000000  1.000000

Name       object
Age       float64
Gender    float64
dtype: object

In [ ]:
# indexing and slicing
# loc, iloc [rows, cols]

In [113]:
# aggregate operations (with and without axis : row-1, col-0)
# min, max, count, ...
m = df1.min()
print(m)

Age       0.0
Gender    0.0
dtype: float64

In [ ]:
# arithmetic operations

In [ ]:
# Na Values: isna, fillna, dropna

In [ ]:
# any, all

In [108]:
# ordering data, sort_values
print(df1)
print()
print(df1.sort_values(by="Name", ascending=False))
print()
print(df1.sort_values(by=["Age", "Name"], ascending=False).head(2).Name)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

        Name  Age  Gender
8       na-2  NaN     0.0
7       na-1  1.0     NaN
6     Shweta  3.0     1.0
2    Krishna  2.0     0.0
5       Joey  2.0     1.0
4   Harshita  1.0     1.0
0     Gaurav  0.0     0.0
3  Abhishek2  2.0     0.0
1  Abhishek1  1.0     0.0
9        NaN  2.0     0.0

6     Shweta
2    Krishna
Name: Name, dtype: object

In [ ]:
# row / column wise operation: apply
tmp = pd.DataFrame(np.random.randint(10,20,20).reshape(5,4))

In [ ]:
# str submodule (replace etc)

In [ ]:
# load and save data

In [ ]:
# groups: groupby

In [ ]:
# groups and aggregates