|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missing data       
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [10]:
import pandas as pd
import numpy as np
# print(dir(df1))

In [11]:
df1=pd.read_csv(r"D:\Learnsbay Numpy\dsc_weekday_202005\Assignments\titanic_dataset.csv")

In [12]:
# Read data and describe it
print(df1.describe)

<bound method NDFrame.describe of       Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket      fare    cabin embarked boat   body  \
0         0   24160  $211.34        B5        S    2    NaN
1         2  113781  $151.55   C22 C26        S   11    NaN
2         2  113781  $151.55   C22 C26        S  NaN    NaN
3         2  113781  $151.55   C22 C26        S  NaN  135.0
4         2  113781  $151.55   C22 C26        S  NaN    NaN
...     ...     ...       ...      ...      ...  ...    ...
1304      0    2665   $14.45       NaN        C  NaN  328.0
1305      0    2665   $14.45       NaN        C  NaN    NaN
1306      0    2656    $7.23       NaN        C  NaN  304.0
1307      0    2670    $7.23       NaN        C  NaN    NaN
1308      0  315082    $7.88       NaN        S  NaN    NaN

                            home.dest
0                        St Louis, MO
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4     Montreal, PQ / Chesterville, ON
...                               ...
1304                              NaN
1305                              NaN
1306                              NaN
1307                              NaN
1308                              NaN

[1309 rows x 15 columns]>

In [13]:
# Find columns with missing data

print(df1.isna().any())

Unnamed: 0    False
pclass        False
survived      False
name          False
gender        False
age            True
sibsp         False
parch         False
ticket        False
fare           True
cabin          True
embarked       True
boat           True
body           True
home.dest      True
dtype: bool

In [14]:
# Print shape of dataset

print(df1.shape)

(1309, 15)

In [33]:
# drop columns with more than 25% missing data

df1.dropna(thresh=int(.25*df1.shape[0]),axis=1)
print()
print(df1.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body',
       'home.dest'],
      dtype='object')

In [34]:
# drop columns having independent values(which do not affect the survival rate).

df1.drop(["name","ticket","cabin","home.dest"],axis=1)
print(df1)

      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name  gender      age  sibsp  \
0                       Allen, Miss. Elisabeth Walton  female  29.0000      0
1                      Allison, Master. Hudson Trevor    male   0.9167      1
2                        Allison, Miss. Helen Loraine  female   2.0000      1
3                Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1
...                                               ...     ...      ...    ...
1304                             Zabour, Miss. Hileni  female  14.5000      1
1305                            Zabour, Miss. Thamine  female      NaN      1
1306                        Zakarian, Mr. Mapriededer    male  26.5000      0
1307                              Zakarian, Mr. Ortin    male  27.0000      0
1308                               Zimmerman, Mr. Leo    male  29.0000      0

      parch  ticket     fare    cabin embarked boat   body  \
0         0   24160  211.34        B5        S    2    NaN
1         2  113781  151.55   C22 C26        S   11    NaN
2         2  113781  151.55   C22 C26        S  NaN    NaN
3         2  113781  151.55   C22 C26        S  NaN  135.0
4         2  113781  151.55   C22 C26        S  NaN    NaN
...     ...     ...      ...      ...      ...  ...    ...
1304      0    2665   14.45       NaN        C  NaN  328.0
1305      0    2665   14.45       NaN        C  NaN    NaN
1306      0    2656    7.23       NaN        C  NaN  304.0
1307      0    2670    7.23       NaN        C  NaN    NaN
1308      0  315082    7.88       NaN        S  NaN    NaN

                            home.dest
0                        St Louis, MO
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4     Montreal, PQ / Chesterville, ON
...                               ...
1304                              NaN
1305                              NaN
1306                              NaN
1307                              NaN
1308                              NaN

[1309 rows x 15 columns]

In [17]:
# check data types of all columns
print(df1.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
name           object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
cabin          object
embarked       object
boat           object
body          float64
home.dest      object
dtype: object

In [31]:
# convert price to numeric
import re
df1.fare.replace({"\$":""},regex=True,inplace=True)
df1.astype({"fare":"float64"},copy=True)
print(df1.fare)

# df1["fare"]=df1["fare"].apply(lambda x:re.sub("$",'',x)).tolist()
# df1["fare"]

0       211.34
1       151.55
2       151.55
3       151.55
4       151.55
         ...
1304     14.45
1305     14.45
1306      7.23
1307      7.23
1308      7.88
Name: fare, Length: 1309, dtype: object

In [24]:
# find columns still having missing/na values and also count of missing data

print(df1.isna().any())
print()
print(df1.isnull().sum())

Unnamed: 0    False
pclass        False
survived      False
name          False
gender        False
age            True
sibsp         False
parch         False
ticket        False
fare           True
cabin          True
embarked       True
boat           True
body           True
home.dest      True
dtype: bool

Unnamed: 0       0
pclass           0
survived         0
name             0
gender           0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

In [25]:
#  fill na with mean for fare and age column column.

df1.fare.fillna(df1.fare.mean())

TypeError: can only concatenate str (not "int") to str

In [27]:
# drop na values for embarked column.

df1.embarked.dropna(inplace=True)
print(df1.embarked)

# df1["embarked"].isna().all

0       S
1       S
2       S
3       S
4       S
       ..
1304    C
1305    C
1306    C
1307    C
1308    S
Name: embarked, Length: 1307, dtype: object

In [29]:
df1.to_csv(r"C:\Users\admin\Desktop\LearnBay\titanic_filtered1.csv")